body, html{
  background-color: #ccc
}

a {
  color: black
}

.tc {
  text-align: center;
}
.mg {
  margin-top: 20px;
}
.cc {
  background-color: transparent;
  border: 0px solid black;
}

.bdr {
  border: 1px solid red;
}

.txt {
  font-size: 22px;
  font-weight: 600;
}

.img{
  width: 250px;
  height: 250px;
}

